
<header> 

    
<div class="btn-group" role="group" aria-label="Basic outlined example">
        
  <button type="button" class="btn btn-outline" [routerLink]="['/login']">Login&nbsp;<i class="fas fa-sign-in-alt"></i></button>&nbsp; &nbsp;
  
  <!-- <button type="button" class="btn btn-outline" [routerLink]="['/register']">Register&nbsp;<i class="fas fa-user-plus"></i></button>&nbsp; &nbsp; -->
  
  <button type="button" class="btn btn-outline" [routerLink]="['/offers']">Try Free&nbsp;<i class="fas fa-arrow-circle-right"></i></button>
      
</div>

    
    <img src="../../assets/images/learn-to-meditate.png" class="img-fluid" alt="...">
    

      <div class="main-content-header">
          <!-- <div class="our-logo">
        <img src="../../assets/images/kol.png" class="rounded mx-auto d-block">
    </div> -->
    <br>
       <h1>Quiet the Mind, the Soul will Speak.<br>
         Welcome To <span>CARE FOR LIVING</span></h1>
     </div>

    
     
     <nav class="navbar navbar-expand-lg sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../../assets/images/kol.png" class="d-inline-block align-top" alt="" width="240px" height="120px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']">Home&nbsp;<i class="fas fa-home"></i></a>
            </li>&nbsp; &nbsp;
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/aboutus']">About Us&nbsp;<i class="fas fa-address-card"></i></a>
            </li>&nbsp; &nbsp;
            <li class="nav-item">
              <a class="nav-link"[routerLink]="['/gallery']">Gallery&nbsp;<i class="fas fa-images"></i></a>
            </li>&nbsp; &nbsp;
            <li class="nav-item">
              <a class="nav-link"[routerLink]="['/feedback']">Feedback&nbsp;<i class="fas fa-comments"></i></a>
            </li>&nbsp; &nbsp;
            <li class="nav-item">
              <a class="nav-link"[routerLink]="['/contactus']">Contact Us&nbsp;<i class="fas fa-address-book"></i></a>
            </li>&nbsp; &nbsp;
          </ul>
         
        </div>
      </div>
    </nav>
       

</header>