
<!-- //////////////////////////////////self-improvement page//////////////////////////////////////////// -->


<br>
<br>

<div class="card" style="width: 100%;">
  
  <div class="card-body">
    <br>
    <h5 class="card-title" id="titles">Self-Improvement</h5>
    <br>
    <p class="card-text" id="text">Self-improvement almost always starts with self-awareness and the ability to transform your habits. If you're serious about getting better at something, then one of the first steps is to know—in black-and-white terms—where you stand. You need self-awareness before you can achieve self-improvement.</p>
    <br>
    <p class="card-text" id="text">For most of us, the path to self-improvement starts by setting a specific and actionable goal. What I'm starting to realize, however, is that when it comes to actually getting things done and making progress in the areas that are important to you, there is a much better way to do things. It all comes down to the difference between goals and systems.</p>
  </div>
  
  <br>
  <br>
  <h5 class="card-title" id="titles">Pictures</h5>
  <br>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/Self-improvement.jpg" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/self-improvement-vs-self-compassion-compressor.png" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up">Self-Improvement</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/Superacion_Personal_746x419_EN.jpg" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/CGfbt2IW0AAE2ax.png" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/39.jpg" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
            <br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up">Achieving-To-The-Goal</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/1839751-Joey-Logano-Quote-There-s-always-room-for-improvement.jpg" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title" id="up"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <!-- <h5 class="card-title" id="titles">Some Videos</h5>
  <br>

  
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <iframe width="656" height="315"
        src="https://www.youtube.com/embed/jCOmZtxF-Wo">
        </iframe>
      </div>
      <div class="col">
        <iframe width="656" height="315"
        src="https://www.youtube.com/embed/ud06HWurmyk">
        </iframe>
      </div>
      <div class="col">
        <iframe width="656" height="315"
        src="https://www.youtube.com/embed/nxolrIIWEMQ">
        </iframe>
      </div>
      <div class="col">
        <iframe width="656" height="315"
        src="https://www.youtube.com/embed/wC9S_fFMnaU">
        </iframe>
        </div>
    </div>
  
  <br>
  <br>


  <h5 class="card-title" id="discount">Offers</h5>
  <br>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100" id="price">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
          <h5 class="card-title" id="plan">Trial Plan</h5>
          <br>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> For One Week Only</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
          
          <p class="card-text" id="money">Rs. 0/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="price">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
          <h5 class="card-title" id="plan">Three Months Plan</h5>
          <br>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Allowed to Call the Trainer</p>
          
          <p class="card-text" id="money">Rs. 299/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="price">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
          <h5 class="card-title" id="plan">Twelve Months Plan</h5>
          <br>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Allowed to Call the Trainer</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer will be present anytime</p>
          
          <p class="card-text" id="money">Rs. 999/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="price">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
          <h5 class="card-title" id="plan">Two Years Plan</h5>
          <br>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Allowed to Call the Trainer</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer will be present anytime</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Get Personal Trainer by Choice</p>
          <p class="card-text" id="money">Rs. 1399/-</p>
        </div>
      </div>
    </div>
  </div>

<br>
<br> -->


  <button type="button" class="btn btn-dark offset-4" [routerLink]="['/subscription']">Get Subscription&nbsp;<i class="fas fa-edit"></i></button>
  <br>
  


</div>

<br>

