

<!-- /////////////////////////////////////////improve sleep quality page///////////////////////////////// -->

<br>
<br>

<div class="card" style="width: 100%;">
  
  <div class="card-body">
    <br>
    <h5 class="card-title" id="titles">Improve Sleep Quality</h5>
    <br>
    <p class="card-text" id="text">Sleeping well directly affects your mental and physical health. Fall short and it can take a serious toll on your daytime energy, productivity, emotional balance, and even your weight. Yet many of us regularly toss and turn at night, struggling to get the sleep we need.</p>
    <br>
    <p class="card-text" id="text">Getting a good night’s sleep may seem like an impossible goal when you’re wide awake at 3 a.m., but you have much more control over the quality of your sleep than you probably realize. Just as the way you feel during your waking hours often hinges on how well you sleep at night, so the cure for sleep difficulties can often be found in your daily routine.</p>
  </div>
  
  <!-- <br>
  <br>
  <h5 class="card-title" id="titles">Some Pictures</h5>
  <br>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/Blog_Insomnia_Sleep-Study_1180x785-1024x681.png" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up">Sleeping-Disorder</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/01_Sleep_5.png" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up">Relaxed-Mind</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/cio_overworked.png" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up">Sleeping-At-Work-Place</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/depositphotos_30854023-stock-illustration-boy-sleeping-by-the-night.jpg" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up">Sleeping-on-Time</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/maxresdefault (1).jpg" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title" id="up"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/ted-ed-the-benefits-of-a-good-ni.jpg" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title" id="up"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div> -->

  <br>
  <br>
  <h5 class="card-title" id="titles">Session Videos</h5>
  <br>

  
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <iframe width="656" height="315"
        src="https://www.youtube.com/embed/CAYDRIbXFAc">
        </iframe>
      </div>
      <div class="col">
        <iframe width="656" height="315"
        src="https://www.youtube.com/embed/FulTaDhEtDY">
        </iframe>
      </div>
      <div class="col">
        <iframe width="656" height="315"
        src="https://www.youtube.com/embed/jmKH3b3isc0">
        </iframe>
      </div>
      <div class="col">
        <iframe width="656" height="315"
        src="https://www.youtube.com/embed/ZT8FzxiXWFk">
        </iframe>
        </div>
    </div>
  
  <br>
  </div>
  <br>

  <!-- <h5 class="card-title" id="discount">Offers</h5>
  <br>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100" id="price">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
          <h5 class="card-title" id="plan">Trial Plan</h5>
          <br>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> For One Week Only</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
        
          <p class="card-text" id="money">Rs. 0/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="price">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
          <h5 class="card-title" id="plan">Three Months Plan</h5>
          <br>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Allowed to Call the Trainer</p>
          
          <p class="card-text" id="money">Rs. 299/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="price">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
          <h5 class="card-title" id="plan">Twelve Months Plan</h5>
          <br>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Allowed to Call the Trainer</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer will be present anytime</p>

          <p class="card-text" id="money">Rs. 999/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="price">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
          <h5 class="card-title" id="plan">Two Years Plan</h5>
          <br>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Allowed to Call the Trainer</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer will be present anytime</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Get Personal Trainer by Choice</p>
          <p class="card-text" id="money">Rs. 1399/-</p>
        </div>
      </div>
    </div>
  </div>

<br>
<br>
  <button type="button" class="btn btn-dark offset-4" [routerLink]="['/subscription']">Get Membership&nbsp;<i class="fas fa-edit"></i></button>
  <br>
  <br>


</div>

<br>
 -->

