
<!-- ///////////////////////////////////improve focus page////////////////////////////////////////////// -->


<br>
<br>

<div class="card" style="width: 100%;">
  
  <div class="card-body">
    <br>
    <h5 class="card-title" id="titles">Improve Focus</h5>
    <br>
    <p class="card-text" id="text">Focus and concentration can be difficult to master. Sure, most people want to learn how to improve focus and boost concentration. But actually doing it? We live in a noisy world and constant distractions can make focus difficult.</p>
    <br>
    <p class="card-text" id="text">Luckily, this page contains the best ideas and top research on how to get and stay focused. We will break down the science behind sharpening your mind and paying attention to what matters. Whether you're looking to focus on your goals in life or business, this page should cover everything you need to know.Focus can only occur when we have said yes to one option and no to all other options. In other words, elimination is a prerequisite for focus. As Tim Ferriss says, “What you don’t do determines what you can do.”</p>
  </div>
  
  <br>
  <br>
  <h5 class="card-title" id="titles">Pictures</h5>
  <br>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/83391379-stock-vector-a-successful-businessman-aiming-target-with-bow-and-arrow-can-not-decide-which-target-to-shoot-at-.jpg" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up">Confused</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/feature_8-30_exercise-smarter_1146.png" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up">Keep-Mind-Strong</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/focus-quotes-5.jpg" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/stay-focused.png" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up">Keep-Your-Mind-Calm</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/4685182-Jim-Rohn-Quote-Focus-on-the-solution-not-on-the-problem.jpg" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title" id="up"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/images.png" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
            <br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up">Relaxed-State</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <!-- <h5 class="card-title" id="titles">Some Videos</h5>
  <br>

  
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <iframe width="656" height="315"
        src="https://www.youtube.com/embed/vR_lv3XDG_c">
        </iframe>
      </div>
      <div class="col">
        <iframe width="656" height="315"
        src="https://www.youtube.com/embed/XlbPpa8JcPw">
        </iframe>
      </div>
      <div class="col">
        <iframe width="656" height="315"
        src="https://www.youtube.com/embed/_HEnohs6yYw">
        </iframe>
      </div>
      <div class="col">
        <iframe width="656" height="315"
        src="https://www.youtube.com/embed/NrEafQNV9KQ">
        </iframe>
        </div>
    </div>
  
  <br>
  <br> -->

  <!-- <h5 class="card-title" id="discount">Offers</h5>
  <br>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100" id="price">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
          <h5 class="card-title" id="plan">Trial Plan</h5>
          <br>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> For One Week Only</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
          
          <p class="card-text" id="money">Rs. 0/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="price">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
          <h5 class="card-title" id="plan">Three Months Plan</h5>
          <br>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Allowed to Call the Trainer</p>
          
          <p class="card-text" id="money">Rs. 299/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="price">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
          <h5 class="card-title" id="plan">Twelve Months Plan</h5>
          <br>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Allowed to Call the Trainer</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer will be present anytime</p>
          
          <p class="card-text" id="money">Rs. 999/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="price">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
          <h5 class="card-title" id="plan">Two Years Plan</h5>
          <br>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Allowed to Call the Trainer</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer will be present anytime</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Get Personal Trainer by Choice</p>
          <p class="card-text" id="money">Rs. 1399/-</p>
        </div>
      </div>
    </div>
  </div>

<br>
<br> -->



  <button type="button" class="btn btn-dark offset-4" [routerLink]="['/subscription']">Get Subscription&nbsp;<i class="fas fa-edit"></i></button>
  <br>



</div>

<br>

