
<br>
<br>

<div class="card text-dark" >
    <img src="../../assets/images/gratitude_meditation_hero_1000_3000.png" class="card-img" alt="...">
    <div class="card-img-overlay">
      <br>
      <h5 class="card-title" id="regular">Welcome To Care For Living...</h5>
      <br>
      <br>
      <p class="card-text" id="yes">In care for living meditation, we’re learning how to pay attention to the breath as it goes in and out, and notice when the mind wanders from this task. This practice of returning to the breath builds the muscles of attention and mindfulness.</p>
      <br>
      <p class="card-text" id="no">When we pay attention to our breath, we are learning how to return to, and remain in, the present moment—to anchor ourselves in the here and now on purpose, without judgement.</p>
    </div>
  </div>


  <!-- <div class="white" style="background-color: #ffffff;">
  <img src="../../assets/images/Stress Quotes www.mostphrases.blogspot.be.png" class="rounded mx-auto d-block" id="photo" alt="..."> 
</div> -->
    

<div class="card " style="max-width: 100%;">
  <br>
  <div class="row g-0">
    <div class="col-md-5">
      <img src="../../assets/images/meditating.jpg" class="rounded mx-auto d-block" id="photo" alt="...">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title" id="head">Why to choose Care For Living</h5>
        <br>
        <br>
        <p class="card-text" id="first">Our mission is to make the world happier and healthier.</p>
        <br>
        <p class="card-text">When we pay attention to our breath, we are learning how to return to, and remain in, the present moment—to anchor ourselves in the here and now on purpose, without judgement.</p>
        
      </div>
    </div>
  </div>
  <br>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100" id="elements">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-bed"></i></h5>
          <p class="card-text">Improve Sleep Quality</p>
          <p class="card-text" id="write">Sleeping well directly affects your mental and physical health. Fall short and it can take a serious toll on your daytime energy, productivity, emotional balance, and even your weight.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="elements">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-heartbeat"></i></h5>
          <p class="card-text">Reduce Stress or Anxiety</p>
          <p class="card-text" id="write">Stress is a natural reaction to many situations in life, such as work, family, relationships and money problems.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="elements">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-brain"></i></h5>
          <p class="card-text">Improve Focus</p>
          <p class="card-text" id="write">Focus and concentration can be difficult to master. Sure, most people want to learn how to improve focus and boost concentration.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="elements">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-user-tie"></i></h5>
          <p class="card-text">Self-Improvement</p>
          <p class="card-text" id="write">Self-improvement almost always starts with self-awareness and the ability to transform your habits. If you're serious about getting better at something, then one of the first steps is to know—in black-and-white terms—where you stand.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="elements">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-laugh-beam"></i></h5>
          <p class="card-text">Increase Happiness</p>
          <p class="card-text" id="write">Life is so busy, hectic and filled with challenges. There are also myriad opportunities for personal enrichment, satisfaction, friendship, love, finding purpose and doing good for others.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="elements">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-star-of-life"></i></h5>
          <p class="card-text">Develop Gratitude</p>
          <p class="card-text" id="write">Expressing gratitude is more than courtesy, manners, or being polite. It's about showing your heartfelt appreciation.</p>
        </div>
      </div>
    </div>
  </div>

<br>
<br>

<!-- <h5 class="card-title" id="team">Our Team</h5> -->
<br>

<!-- <div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="../../assets/images/DSC_5288.JPG" class="card-img-top" id="members" alt="...">
      <div class="card-body">
        <h5 class="card-title" id="designation">1st Team Member<br>(Team Leader)</h5>
        <p class="card-text" id="name">Aditi Raj Shukla</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../assets/images/WhatsApp Image 2021-04-06 at 9.29.37 PM.jpeg" class="card-img-top" id="members" alt="...">
      <div class="card-body">
        <h5 class="card-title" id="designation">2nd Team Member</h5>
        <p class="card-text" id="name">Kriti Bansal</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../assets/images/31.JPG" class="card-img-top" id="members" alt="...">
      <div class="card-body">
        <h5 class="card-title" id="designation">3rd Team Member</h5>
        <p class="card-text" id="name">Prashant Kumar</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../assets/images/WhatsApp Image 2021-04-06 at 9.29.07 PM.jpeg" class="card-img-top" id="members" alt="...">
      <div class="card-body">
        <h5 class="card-title" id="designation">4th Team Member</h5>
        <p class="card-text" id="name">Sanchit Upadhyay</p>
      </div>
    </div>
  </div>
</div> -->


</div>

<br>
<br>
