
<!-- /////////////////////////////develop gratitude page///////////////////////////////////////////// -->


<br>
<br>

<div class="card" style="width: 100%;">
  
  <div class="card-body">
    <br>
    <h5 class="card-title" id="titles">Develop Gratitude</h5>
    <br>
    <p class="card-text" id="text">Expressing gratitude is more than courtesy, manners, or being polite. It's about showing your heartfelt appreciation. When you thank someone, you're also practicing the first two gratitude skills: you've noticed something good, and you've genuinely appreciated it.</p>
    <br>
    <p class="card-text" id="text">Nature. People. Community. Shelter. Creature comforts like a warm bed or a good meal. It's amazing what you notice when you focus on feeling grateful.Making a commitment to writing down good things each day makes it more likely that we will notice good things as they happen.Some people say grace before a meal. Pausing in gratitude before eating doesn't have to be religious. It's a simple habit that helps us notice and appreciate the blessing of food on the table.</p>
  </div>
  
  <br>
  <br>
  <!-- <h5 class="card-title" id="titles">Some Pictures</h5>
  <br>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/1_ynvAoiHcwDOR8jxegDNwdA.jpeg" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/1758079-Brian-Tracy-Quote-Develop-an-attitude-of-gratitude-Say-thank-you.jpg" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/HOW-TO-Develop-A-Gratitude-Practice.jpg.4aeb1c644f1125c0811e538740d9f30e.jpg" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/Screen-Shot-2019-11-11-at-11.22.17-AM.png" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/gratitude.jpg" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title" id="up"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/main.jpg" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title" id="up"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br> -->
  <h5 class="card-title" id="titles">Session Videos</h5>
  <br>

  
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <iframe width="656" height="315"
        src="https://www.youtube.com/embed/6fg0e67TLpc">
        </iframe>
      </div>
      <div class="col">
        <iframe width="656" height="315"
        src="https://www.youtube.com/embed/qINGiuM3GGA">
        </iframe>
      </div>
      <div class="col">
        <iframe width="656" height="315"
        src="https://www.youtube.com/embed/OpM01KYd4tA">
        </iframe>
      </div>
      <div class="col">
        <iframe width="656" height="315"
        src="https://www.youtube.com/embed/Y3cpV_dnN_I">
        </iframe>
        </div>
    </div>
  
  <br>
  <!-- <br>

  <h5 class="card-title" id="discount">Offers</h5>
  <br>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100" id="price">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
          <h5 class="card-title" id="plan">Trial Plan</h5>
          <br>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> For One Week Only</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
          
          <p class="card-text" id="money">Rs. 0/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="price">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
          <h5 class="card-title" id="plan">Three Months Plan</h5>
          <br>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Allowed to Call the Trainer</p>
          
          <p class="card-text" id="money">Rs. 299/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="price">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
          <h5 class="card-title" id="plan">Twelve Months Plan</h5>
          <br>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Allowed to Call the Trainer</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer will be present anytime</p>
          
          <p class="card-text" id="money">Rs. 999/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="price">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
          <h5 class="card-title" id="plan">Two Years Plan</h5>
          <br>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Allowed to Call the Trainer</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer will be present anytime</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Get Personal Trainer by Choice</p>
          <p class="card-text" id="money">Rs. 1399/-</p>
        </div>
      </div>
    </div>
  </div>

<br>
<br>




  <button type="button" class="btn btn-dark offset-4" [routerLink]="['/subscription']">Get Membership&nbsp;<i class="fas fa-edit"></i></button>
  <br>
  <br> -->


</div>

<br>

