<!-- ///////////////////////////////////////gallery page///////////////////////////////////////////// -->

<br>
<br>

<div class="card" style="width: 100%;">
  <br>

  <div class="card-body">
    <h5 class="card-title" id="head">Pictures</h5>
    <br>

    <div class="card-group">

      <div class="card text-dark">
          <img src="../../assets/images/cute-girl-cartoon-meditation-pose_99413-129.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br><br><br><br><br><br> -->
          <!-- <h5 class="card-title">Meditation Posture</h5> -->
          <!-- <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p class="text-center font" >Meditation Posture</p>
        </div>
      </div>

      <div class="card bg-white text-dark">
          <img src="../../assets/images/2206666_1.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br><br><br><br><br><br> -->
          <!-- <h5 class="card-title">Related to Real-Life-Quote</h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p class="text-center font" >Related to Real-Life-Quote</p>
        </div>
      </div>

      <div class="card bg-white text-white">
          <img src="../../assets/images/meditating.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title">Mind Peacefulness</h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p class="text-center font" >Mind Peacefulness</p>
        </div>
      </div>

      <div class="card bg-white text-dark">
        <img src="../../assets/images/01_Sleep_5.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title">Be Relax at Sleep</h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p class="text-center font" >Be Relax at Sleep</p>
        </div>
      </div>

    </div>

    <br>
    <div class="card-group">

      <div class="card bg-white text-white">
        <img src="../../assets/images/Stress-quotes.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title">Motivational-Quote</h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p class="text-center font" >Motivational-Quote</p>
        </div>
      </div>

      <div class="card bg-white text-dark">
        <img src="../../assets/images/maxresdefault (1).jpg" class="card-img" height="100%" alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p class="text-center font" >Hygiene</p>
        </div>
      </div>

      <div class="card bg-white text-white">
        <img src="../../assets/images/f470eb6fa3eda928e56b633c5e18fe7d.jpg" class="card-img" height="100%" alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title">Happy State</h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p class="text-center font" >Happy State</p>
        </div>
      </div>

      <div class="card bg-white text-white">
        <img src="../../assets/images/83391379-stock-vector-a-successful-businessman-aiming-target-with-bow-and-arrow-can-not-decide-which-target-to-shoot-at-.jpg" class="card-img" height="100%" alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title">How-to-be-Focused</h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p class="text-center font" >How-to-be-Focused</p>
        </div>
      </div>

    </div>

    <br>
    <div class="card-group">

      <div class="card bg-white text-white">
        <img src="../../assets/images/Calm-1200x630-810x425.jpg" class="card-img" height="100%" alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br>
          <h5 class="card-title">Solution-Is-In-Nature</h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p  class="text-center font">Solution-Is-In-Nature</p>
        </div>
      </div>
      <div class="card bg-white text-white">
          <img src="../../assets/images/landscape.jpg" class="card-img" height="100%" alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br>
          <h5 class="card-title">Peaceful-Landscape</h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p  class="text-center font">Peaceful-Landscape</p>
        </div>
      </div>
      <div class="card bg-white text-white">
          <img src="../../assets/images/r0_292_5484_3375_w1200_h678_fmax.jpg" class="card-img" height="100%" alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br>
          <h5 class="card-title">Outdoor-Sessions</h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p  class="text-center font">Outdoor-Sessions</p>
        </div>
      </div>
      <div class="card bg-white text-white">
          <img src="../../assets/images/stress-relief-quotes.jpg" class="card-img" height="100%" alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br>
          <h5 class="card-title">Keep-Calm</h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p class="text-center font" >Keep-Calm</p>
        </div>
      </div>

    </div>

    <br>
    <div class="card-group">

      <div class="card bg-white text-dark">
          <img src="../../assets/images/7.jpg" class="card-img" height="100%" alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br>
          <h5 class="card-title">Indoor-Sessions</h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p class="text-center font" >Indoor-Sessions</p>
        </div>
      </div>
      <div class="card bg-white text-white">
          <img src="../../assets/images/8.jpg" class="card-img" height="100%" alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br>
          <h5 class="card-title">Learning-From-Trainers</h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p class="text-center font" >Learning-From-Trainers</p>
        </div>
      </div>
      <div class="card bg-white text-white">
          <img src="../../assets/images/6.jpg" class="card-img" height="100%" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br>
          <!-- <h5 class="card-title">Outdoor-Sessions</h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p class="text-center font" >Outdoor-Sessions</p>
        </div>
      </div>

      <div class="card bg-white text-white">
          <img src="../../assets/images/1.jfif" class="card-img" height="100%" alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br>
          <h5 class="card-title">Stress-Free-Mind</h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p  class="text-center font">Stress-Free-Mind</p>
        </div>
      </div>

    </div>

    <br>
    <div class="card-group">

      <div class="card bg-white text-dark">
          <img src="../../assets/images/images (1).png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title">Depression-Issues</h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p  class="text-center font">Depression-Issues</p>
        </div>
      </div>

      <div class="card bg-white text-dark">
          <img src="../../assets/images/globe.jpg" class="card-img" height="100%" alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title">Happy-Globe</h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p  class="text-center font">Happy-Globe</p>
        </div>
      </div>
      <div class="card bg-white text-dark">
          <img src="../../assets/images/images (2).png" class="card-img" height="100%" alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title">Anxiety</h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p  class="text-center font">Anxiety</p>
        </div>
      </div>
      <div class="card bg-white text-dark">
        <img src="../../assets/images/images (2).jfif" class="card-img" height="100%" alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title">Sleep-Disorder</h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p  class="text-center font">Sleep-Disorder</p>
        </div>
      </div>

    </div>

    <br>
    <div class="card-group">

      <div class="card bg-white text-dark">
          <img src="../../assets/images/fitbodyfitbrain-main-2.jpg" class="card-img" height="100%" alt="...">
        <div class="card-img-overlay">
          <!-- <h5 class="card-title"></h5>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p  class="text-center font">Filter Body</p>
        </div>
      </div>
      <div class="card bg-white text-white">
        <img src="../../assets/images/EVfuaGrX0AE8nB1.png" class="card-img" height="100%" alt="...">
        <div class="card-img-overlay">
          <!-- <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p  class="text-center font">Smiling Mind</p>
        </div>
      </div>
      <div class="card bg-white text-dark">
        <img src="../../assets/images/feature_8-30_exercise-smarter_1146.png" class="card-img" height="100%" alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br><br>
          <h5 class="card-title">Power-Up Mind</h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p class="text-center font">Power-Up Mind</p>
        </div>
      </div>
      <div class="card bg-white text-white">
        <img src="../../assets/images/self-improvement-vs-self-compassion-compressor.png" class="card-img" height="100%"
          alt="...">
        <div class="card-img-overlay">
          <!-- <br><br><br><br><br><br><br><br>
          <h5 class="card-title">Self-Improvement</h5>
          <p class="card-text"></p>
          <p class="card-text"></p> -->
        </div>
        <div>
          <p class="text-center font">Self-Improvement</p>
        </div>
      </div>

    </div>
  </div>
</div>
<br>