
<!-- /////////////////////////////increase happiness page//////////////////////////////////////////// -->


<br>
<br>

<div class="card" style="width: 100%;">
  
  <div class="card-body">
    <br>
    <h5 class="card-title" id="titles">Increase Happiness</h5>
    <br>
    <p class="card-text" id="text">Life is so busy, hectic and filled with challenges. There are also myriad opportunities for personal enrichment, satisfaction, friendship, love, finding purpose and doing good for others. Still, while the desire for and pursuit of happiness can sometimes seem elusive or fleeting, there are effective ways to increase your happiness.</p>
    <br>
    <p class="card-text" id="text">This is more than a simple suggestion. It’s backed by science. When you smile, you not only trigger smile muscles in others, according to research, you also benefit. Smiling activates neural brain circuits associated with well-being and happiness. It also feels good to smile, especially when you do it regularly.The power of social connection to boost happiness and well-being is another area explored by researchers.</p>
  </div>
  
  <br>
  <br>
  <h5 class="card-title" id="titles">Pictures</h5>
  <br>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/1025480252fa890e4bee127e48d7a2a3.jpg" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up">Happy Souls</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/4035824-Jeff-Galloway-Quote-We-are-designed-to-run-and-we-increase-our.jpg" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/imgbin-cartoon-meditation-brain-Q5UAUNv7wDyzqBqbAZwhQmUZe.jpg" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up">Meditation-Makes-us-Feel-Relaxed</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/0ed7ec6e166e89c4f0d206d118f331f8.jpg" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/deaade16872c8064b53760efae34c7a0.png" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
            <br><br><br><br><br><br><br><br><br>
          <h5 class="card-title" id="up">Relaxing-Music</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-white text-dark">
        <img src="../../assets/images/EVfuaGrX0AE8nB1.png" class="card-img" height="288px" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title" id="up"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <!-- <h5 class="card-title" id="titles">Some Videos</h5>
  <br>

  
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <iframe width="656" height="315"
        src="https://www.youtube.com/embed/aL2nYsXNfMI">
        </iframe>
      </div>
      <div class="col">
        <iframe width="656" height="315"
        src="https://www.youtube.com/embed/_OHDssbQPlY">
        </iframe>
      </div>
      <div class="col">
        <iframe width="656" height="315"
        src="https://www.youtube.com/embed/kB1aoErPRWs">
        </iframe>
      </div>
      <div class="col">
        <iframe width="656" height="315"
        src="https://www.youtube.com/embed/O7ZposfL1Sk">
        </iframe>
        </div>
    </div>
  
  <br>
  <br>


  <h5 class="card-title" id="discount">Offers</h5>
  <br>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100" id="price">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
          <h5 class="card-title" id="plan">Trial Plan</h5>
          <br>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> For One Week Only</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
          
          <p class="card-text" id="money">Rs. 0/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="price">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
          <h5 class="card-title" id="plan">Three Months Plan</h5>
          <br>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Allowed to Call the Trainer</p>
          
          <p class="card-text" id="money">Rs. 299/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="price">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
          <h5 class="card-title" id="plan">Twelve Months Plan</h5>
          <br>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Allowed to Call the Trainer</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer will be present anytime</p>
          
          <p class="card-text" id="money">Rs. 999/-</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" id="price">
        
        <div class="card-body">
          <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
          <h5 class="card-title" id="plan">Two Years Plan</h5>
          <br>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Allowed to Call the Trainer</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer will be present anytime</p>
          <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Get Personal Trainer by Choice</p>
          <p class="card-text" id="money">Rs. 1399/-</p>
        </div>
      </div>
    </div>
  </div>

<br>
<br> -->



  <button type="button" class="btn btn-dark offset-4" [routerLink]="['/subscription']">Get Subscription&nbsp;<i class="fas fa-edit"></i></button>
  <br>
  


</div>

<br>

