
<!-- //////////////////////////////////thankyou page////////////////////////////////////////////////// -->

<br>
<br>


<div class="card text-center offset-2" style="width: 55rem;">
  
  <div class="card-body">
    <h5 class="card-title">We can help you in...</h5>
    <br>
    
    <div class="btn-group-vertical">

      <button type="button" class="btn " [routerLink]="['/sleep']">Improve Sleep Quality&nbsp;<i class="fas fa-bed"></i></button><br>
      <button type="button" class="btn " [routerLink]="['/stress']">Reduce Stress or Anxiety&nbsp;<i class="fas fa-heartbeat"></i></button><br>
      <button type="button" class="btn " [routerLink]="['/impfocus']">Improve Focus&nbsp;<i class="fas fa-brain"></i></button><br>
      <button type="button" class="btn " [routerLink]="['/selfimp']">Self-Improvement&nbsp;<i class="fas fa-user-tie"></i></button><br>
      <button type="button" class="btn " [routerLink]="['/happie']">Increase Happiness&nbsp;<i class="fas fa-laugh-beam"></i></button><br>
      <button type="button" class="btn " [routerLink]="['/develop']">Develop Gratitude&nbsp;<i class="fas fa-star-of-life"></i></button><br>
      <!-- <button type="button" class="btn " [routerLink]="['/subscription']">Get Subscription&nbsp;<i class="fas fa-edit"></i></button><br> -->
  
    </div>
    
  </div>
  <!-- <br> -->
</div>

<br>
<br>

