
<!-- /////////////////////////////////////////home page//////////////////////////////////////////////// -->


 <br>
 <br>
 



 <div class="card" style="max-width: 100%;">
  <br>
  <h1>We will take <span class="design">Care..</span></h1>
 <p class="quote">Our goal is to help you improve your health and happiness.</p>
 <p class="Question">What can we help with today?</p>
  <br>
   <div class="row g-0">
     <div class="col-md-6">
       <img src="../../assets/images/cio_overworked.png" alt="..." class="rounded mx-auto d-block" id="photo">
     </div>
     <div class="col-md-6">
       <div class="card-body">
     
         <h5 class="card-title">Improve Sleep Quality</h5>
         <br>
         <p class="card-text"><small class="text-muted">Sleeping well directly affects your mental and physical health.
                             Fall short and it can take a serious toll on your daytime energy, productivity, emotional balance, and even your weight.
                            </small></p> 

                            <button type="button" class="btn" ><a [routerLink]="['/login']">know more..</a></button>
       </div>
     </div>
   </div>
 </div>
 
 
 <div class="card" style="max-width: 100%;">
  <br>
   <div class="row g-0">
     
     <div class="col-md-6">
       <div class="card-body">
         <h5 class="card-title">Reduce Stress or Anxiety</h5>
         <br>
         <p class="card-text"><small class="text-muted">Stress is a natural reaction to many situations in life, such as work, family, relationships and money problems.</small></p>
         
         <p class="card-text"><small class="text-muted">We mentioned earlier on that a moderate amount of stress can help us perform better in challenging situations, but too much or prolonged stress can lead to physical problems.</small></p>
       
         <button type="button" class="btn" ><a [routerLink]="['/login']">know more..</a></button>
        </div>
     </div>
     <div class="col-md-6">
       <img src="../../assets/images/maxresdefault.jpg"  class="rounded mx-auto d-block" alt="..." >
     </div>
   </div>
 </div>
   
 
 <div class="card" style="max-width: 100%;">
  <br>
  <br>
   <div class="row g-0">
     <div class="col-md-6">
       <img src="../../assets/images/83391379-stock-vector-a-successful-businessman-aiming-target-with-bow-and-arrow-can-not-decide-which-target-to-shoot-at-.jpg" class="rounded mx-auto d-block" alt="..." >
     </div>
     <div class="col-md-6">
       <div class="card-body">
         <h5 class="card-title">Improve Focus</h5>
         <br>
         <p class="card-text"><small class="text-muted">Focus and concentration can be difficult to master. Sure, most people want to learn how to improve focus and boost concentration. But actually doing it? We live in a noisy world and constant distractions can make focus difficult.</small></p>
         
         <button type="button" class="btn" ><a [routerLink]="['/login']">know more..</a></button>
       </div>
     </div>
   </div>
 </div>
 
 
 <div class="card" style="max-width: 100%;">
  <br>
  <br>
   <div class="row g-0">
     
     <div class="col-md-6">
       <div class="card-body">
         <h5 class="card-title">Self-Improvement</h5>
         <br>
         <p class="card-text"><small class="text-muted">Self-improvement almost always starts with self-awareness and the ability to transform your habits. If you're serious about getting better at something, then one of the first steps is to know—in black-and-white terms—where you stand. You need self-awareness before you can achieve self-improvement.</small></p>
         
         <button type="button" class="btn" ><a [routerLink]="['/login']">know more..</a></button>
       </div>
     </div>
     <div class="col-md-6">
       <img src="../../assets/images/self-improvement-vs-self-compassion-compressor.png" class="rounded mx-auto d-block" alt="..." >
     </div>
   </div>
 </div>


 <div class="card" style="max-width: 100%;">
  <br>
  <br>
  <div class="row g-0">
    <div class="col-md-6">
      <img src="../../assets/images/imgbin-cartoon-meditation-brain-Q5UAUNv7wDyzqBqbAZwhQmUZe.jpg" class="rounded mx-auto d-block" alt="..." >
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">Increase Happiness</h5>
        <br>
        <p class="card-text"><small class="text-muted">
          Life is so busy, hectic and filled with challenges. There are also myriad opportunities for personal enrichment, satisfaction, friendship, love, finding purpose and doing good for others. Still, while the desire for and pursuit of happiness can sometimes seem elusive or fleeting, there are effective ways to increase your happiness.</small></p>
        
        <button type="button" class="btn" ><a [routerLink]="['/login']">know more..</a></button>
      </div>
    </div>
  </div>
</div>


<div class="card" style="max-width: 100%;">
  <br>
  <br>
  <div class="row g-0">
    
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">Develop Gratitude</h5>
        <br>
        <p class="card-text"><small class="text-muted">Expressing gratitude is more than courtesy, manners, or being polite. It's about showing your heartfelt appreciation. When you thank someone, you're also practicing the first two gratitude skills: you've noticed something good, and you've genuinely appreciated it.</small></p>
        
        <button type="button" class="btn" ><a [routerLink]="['/login']">know more..</a></button>
      </div>
    </div>
    <div class="col-md-6">
      <img src="../../assets/images/ZU6JXW3POFE67M6ZHYIMHCCKTE.jpg" class="rounded mx-auto d-block" alt="..." >
    </div>
  </div>
  <br>
</div>

<br>
<br>

