
<br>
<br>

<div class="card text-center offset-2" style="width: 55rem;">
  
  <div class="card-body">
    <h5 class="card-title">What brings you to Care For Living?</h5>
    <br>
    
    <div class="btn-group-vertical">

      <button type="button" class="btn " [routerLink]="['/firstpage']">Improve Sleep Quality&nbsp;<i class="fas fa-bed"></i></button><br>
      <button type="button" class="btn " [routerLink]="['/middle']">Reduce Stress or Anxiety&nbsp;<i class="fas fa-heartbeat"></i></button><br>
      <button type="button" class="btn " [routerLink]="['/focus']">Improve Focus&nbsp;<i class="fas fa-brain"></i></button><br>
      <button type="button" class="btn " [routerLink]="['/improvement']">Self-Improvement&nbsp;<i class="fas fa-user-tie"></i></button><br>
      <button type="button" class="btn " [routerLink]="['/happiness']">Increase Happiness&nbsp;<i class="fas fa-laugh-beam"></i></button><br>
      <button type="button" class="btn " [routerLink]="['/gratitude']">Develop Gratitude&nbsp;<i class="fas fa-star-of-life"></i></button><br>
      <button type="button" class="btn " [routerLink]="['/subscription']">Get Subscription&nbsp;<i class="fas fa-edit"></i></button><br>
  
    </div>
    
  </div>
  <!-- <br> -->
</div>

<br>
<br>

