<br>
<br>

<div class="card" style="width: 100%;">

    <div class="card-body">
        <br>
        <h5 class="card-title" id="vid">Demo Sessions</h5>
        <br>

        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <iframe width="656" height="315"
              src="https://www.youtube.com/embed/8YDd8Wgjj28">
              </iframe>
            </div>
            <div class="col">
              <iframe width="656" height="315"
              src="https://www.youtube.com/embed/4pLUleLdwY4">
              </iframe>
            </div>
            <div class="col">
              <iframe width="656" height="315"
              src="https://www.youtube.com/embed/KQOAVZew5l8">
              </iframe>
            </div>
            <div class="col">
              <iframe width="656" height="315"
              src="https://www.youtube.com/embed/0eKD-mDa3CA">
              </iframe>
              </div>
          </div>
        
<br>
<br>

      <!-- <h5 class="card-title" id="discount">Offers</h5>
      <br>
  
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card h-100" id="price">
            
            <div class="card-body">
              <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
              <h5 class="card-title" id="plan">Trial Plan</h5>
              <br>
              <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> For One Week Only</p>
              <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
              <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
              
              <p class="card-text" id="money">Rs. 0/-</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100" id="price">
            
            <div class="card-body">
              <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
              <h5 class="card-title" id="plan">Three Months Plan</h5>
              <br>
              <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
              <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
              <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Allowed to Call the Trainer</p>
              
              <p class="card-text" id="money">Rs. 299/-</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100" id="price">
            
            <div class="card-body">
              <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
              <h5 class="card-title" id="plan">Six Months Plan</h5>
              <br>
              <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
              <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
              <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Allowed to Call the Trainer</p>
              <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer will be present anytime</p>
              
              <p class="card-text" id="money">Rs. 999/-</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100" id="price">
            
            <div class="card-body">
              <h5 class="card-title" id="icon"><i class="fas fa-dollar-sign"></i></h5>
              <h5 class="card-title" id="plan">One Year Plan</h5>
              <br>
              <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Meditation Videos Available</p>
              <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer Available</p>
              <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Allowed to Call the Trainer</p>
              <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Trainer will be present anytime</p>
              <p class="card-text" id="lines"><i class="fas fa-check" id="green"></i> Get Personal Trainer by Choice</p>
              <p class="card-text" id="money">Rs. 1399/-</p>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br> -->
      <button type="button" class="btn btn-primary offset-5" [routerLink]="['/login']">Get Subscription&nbsp;<i class="fas fa-edit"></i></button>      
    
    </div>
  </div>
  
  
  
  
  
  <br>
  <br>
  
